.App {
  text-align: center;
  background-color: rgb(228, 218, 206);
}

.white-theme {
  background-color: rgb(228, 218, 206);
  color: black;
}

.dark-theme {
  background-color: rgb(59, 56, 56);
  color: white;
}